/* @import url('https://fonts.googleapis.com/css2?family=Cardo&family=Roboto&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Cardo&family=Playball&family=Roboto&display=swap");
/* misc */
/* colors */
/* 
 $color-tertiary:#E9C46A;
 $color-quarter:#E76F51; */
/* spacings */
/* font fasmily */
/* font sizes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: 'Cardo', serif;
  font-size: 62.5%;
  scroll-behavior: smooth; }
  html body {
    margin: 0;
    background-color: #264653; }
  html a {
    text-decoration: none; }
  html img {
    width: 100%; }

/* partials */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 5; }
  .header .burger {
    position: relative;
    width: 40px;
    height: 30px;
    background: transparent;
    cursor: pointer; }
  .header .burger input {
    display: none; }
  .header .burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: white;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out; }
  .header .burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center; }
  .header .burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center; }
  .header .burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%); }
  .header .burger input:checked ~ span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px; }
  .header .burger input:checked ~ span:nth-of-type(2) {
    width: 0%;
    opacity: 0; }
  .header .burger input:checked ~ span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 28px;
    left: 5px; }

/* pages */
section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem 0; }

.titulo h3 {
  font-size: 4.2em;
  color: white;
  font-family: "Cardo", serif;
  text-align: center;
  text-shadow: 2px 2px 2px #000;
  font-weight: lighter;
  margin-bottom: 3rem; }

.contenedor {
  width: 85%;
  max-width: 425px;
  display: flex;
  flex-direction: column;
  row-gap: 50px; }

.section-1 {
  background: url(../asset/img/imgpri2.jpg);
  background-position: center top;
  background-attachment: fixed;
  background-size: cover; }
  .section-1__nombre h1 {
    font-family: "Cardo", serif;
    font-size: 9em;
    color: white;
    font-weight: lighter;
    text-shadow: 2px 2px 2px #000; }
  .section-1__sub h2 {
    font-family: "Cardo", serif;
    font-size: 2.3em;
    color: white;
    font-weight: lighter; }
  .section-1 .reloj {
    position: absolute;
    bottom: 50px; }
    .section-1 .reloj #clock {
      font-size: 4.2em;
      color: white;
      font-family: "Cardo", serif;
      text-shadow: 2px 2px 2px #000; }
    .section-1 .reloj .clock-info {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0 5px; }
      .section-1 .reloj .clock-info h3 {
        font-size: 2.3em;
        color: white;
        font-family: "Cardo", serif;
        font-weight: lighter; }

.section-2 {
  background: url(../asset/img/foto1.jpg); }
  .section-2 .contenedor .info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
    .section-2 .contenedor .info .dir h3 {
      font-size: 2.3em;
      color: white;
      font-family: "Roboto", sans-serif;
      font-weight: lighter;
      line-height: 4rem; }
    .section-2 .contenedor .info .btn-box {
      margin-top: 3rem; }
      .section-2 .contenedor .info .btn-box .btn {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: #7f7f7fd7;
        width: 125px;
        height: 40px;
        border-radius: 50px;
        /* 
                    border: 0.5px solid white; */ }
        .section-2 .contenedor .info .btn-box .btn h4 {
          font-size: 1.8em;
          color: white;
          font-weight: lighter; }
        .section-2 .contenedor .info .btn-box .btn .circulo {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: white;
          width: 28px;
          height: 28px;
          border-radius: 50%;
          font-size: 20px; }
  .section-2 .contenedor .img {
    background-position: center center;
    background-attachment: fixed;
    background-size: cover; }
    .section-2 .contenedor .img img {
      border-radius: 15px; }

.section-3 {
  background: url(../asset/img/foto1.jpg); }
  .section-3 .contenedor .imagenes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 15px; }
    .section-3 .contenedor .imagenes .foto {
      width: 100%; }
      .section-3 .contenedor .imagenes .foto img {
        border-radius: 10px;
        height: 100%;
        object-fit: cover; }

.section-5 .contenedor .text h3 {
  font-size: 2.3em;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  line-height: 4rem; }

.section-5 .contenedor .box {
  background-color: #7f7f7fd7;
  width: 100%;
  height: 200px;
  border-radius: 10px; }
