 /* colors */
 $color-primary:#264653;
 $color-secondary:#2A9D8F;
 $color-tertiary:#E9C46A;
 $color-quarter:#E76F51;
 $text-color:white;

/* spacings */
$spacing-small:2.4rem;

/* font fasmily */
$font-primary:'Cardo', serif;
$font-secondary:'Roboto', sans-serif;
$font-3:'Playball', cursive;

/* font sizes */
$font-large:9.0em;
$font-medium:5em;
$font-base:1.8em;
$font-small:1.4em;